:root{
    --color-dark:#27292a;
    --color-light:#fff;
    --color-primary:#ec6090;
    --color-darkest:#1f2122;

    --distance-primary: 50px;
    --padding-primary: var (--distance-primary);
    --margin-primary: var (--distance-primary);
    --border-radius-primary:calc(var(--distance-primary)/2);
    --color-bg-body: var(--color-darkest);
    --font-family-primary:'"Bodoni Moda SC", serif';
    --font-weight-bold:700;
    --font-weight-normal:400


}

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

body {
    background-color: var(--color-bg-body);
    font-family: var(--font-family-primary);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}